.tooltipbody:hover .tooltiptext {
  visibility: visible;
}

.tooltipbody .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(255, 28, 28);
  color: rgb(255, 255, 255);
  /* text-align: center; */
  border-radius: 6px;
  padding: 10px;

  position: absolute;
  /* z-index: 1; */
}

.tooltipbody {
  cursor: pointer;
  width: 30px;
}
